<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Analyst Jobs Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/logic.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
</head>

<body>
    <header>
        <h1>Data Analyst Jobs Dashboard</h1>
    </header>

    <!-- Modern Year Selection Dropdown -->
    <div class="year-dropdown-container">
        <label for="yearSelection"><strong>Select year :</strong></label>
        <div class="custom-dropdown">
            <select id="yearSelection"></select>
            <span class="arrow"></span>
        </div>
    </div>

    <!-- Add buttons for switching between job category, experience level, and job title -->
    <div class="switch-buttons">
        <button id="jobCategoryBtn" class="active">Job Category</button>
        <button id="experienceLevelBtn">Experience Level</button>
        <button id="jobTitleBtn">Job Title</button>
    </div>

    <!-- Canvas for Chart -->
    <canvas id="DataJobChart" width="1200" height="600"></canvas>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 DataInsight Lab</p>
    </footer>
</body>

</html>
