<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Analyst Jobs Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/logic.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
</head>

<body>
    <header>
        <h1>Data Analyst Jobs Dashboard</h1>
    </header>

    <!-- Modern Year Selection Dropdown -->
    <div class="year-dropdown-container">
        <label for="yearSelection">Select Year:</label>
        <div class="custom-dropdown">
            <select id="yearSelection"></select>
            <span class="arrow"></span>
        </div>
    </div>

    <!-- Add a button for switching between job title and experience level -->
    <div class="switch-buttons">
        <button id="jobTitleBtn" class="active">Job Title</button>
        <button id="experienceLevelBtn">Experience Level</button>
    </div>

    <!-- Canvas for Chart -->
    <canvas id="worldDataChart" width="1200" height="600"></canvas>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Data Analyst Jobs Dashboard @ JSONlabs</p>
    </footer>
</body>

</html>
